$scheme: tesla; //Change value to change color scheme

$schemecolor1: map-get((
    tesla : #586A6A,
    van : #5D5F71,
    bus : #8D818C,
    car : #5d91a1,
    bike : #23231A,
    skates : #2E3532,
    feet : #2A0800,
), $scheme);
$schemecolor2: map-get((
    tesla : #B9A394,
    van : #E3D8F1,
    bus : #B4B8C5,
    car : #86d3e3,
    bike : #322F20,
    skates : #7E9181,
    feet : #BEA8A7,
), $scheme);
$schemecolor3: map-get((
    tesla : #818D92,
    van : #DABECA,
    bus : #E9EBF8,
    car : #a2ffe1,
    bike : #FE5F00,
    skates : #94849B,
    feet : #C09891,
), $scheme);
$schemecolor4: map-get((
    tesla : #D4C5C7,
    van : #BF8B85,
    bus : #A5A299,
    car : #e2ffcf,
    bike : #988F2A,
    skates : #C7CEDB,
    feet : #775144,
), $scheme);
$schemecolor5: map-get((
    tesla : #A5A299,
    van : #AD8A64,
    bus : #FEFFFE,
    car : #feffe6,
    bike : #6A5837,
    skates : #A0AAB2,
    feet : #F4DBD8,
), $scheme);

$fifthcolorDarkend: darken($schemecolor5,3%);

body {
  height: 55px;
  background: linear-gradient(to right, $schemecolor1, $schemecolor3, $schemecolor1);
}

.jumbotron {
  background: linear-gradient(0deg, $schemecolor3, $schemecolor2);
  border: outset 5px $schemecolor3;
  border-radius: 25px;
}

.lists {
  position: relative;
  padding: 15px;
  border: inset 5px $schemecolor5;
  background-color: $schemecolor5;
  min-height: 500px;
  border-bottom: inset 5px darken($schemecolor5, 5%);
  border-right: inset 5px darken($schemecolor5, 5%);
}

.tiles {
  color: black;

  position: relative;
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  background-color: $fifthcolorDarkend;
  border: outset 3px $schemecolor3;
  border-radius: 5px;
}

.questions:hover {
  border: inset 3px $schemecolor3;
  background-color: darken($fifthcolorDarkend, 3%);
  text-decoration-color: black;
}

.asked-by {
  position: absolute;
  right: 0;
  margin-right: 5%;
  text-decoration: underline;
}

.scrollable {
  overflow-y: auto;
  height: 500px;
}

.new-question-form {
  border: inset 2px $schemecolor1;
  text-align: center;
  label {
    padding-right: 10px;
  }
}

.new-answer-form {
  border: inset 2px $schemecolor1;
  text-align: center;
  label {
    padding-right: 10px;
  }
}

.new-question-button {
  text-align: center;
  bottom: 0;
}

.question-intro {
  position: relative;
  padding: 15px;
  border: inset 5px $schemecolor5;
  background-color: $schemecolor5;
  #question-author {
    font-style: italic;
  }
}
.title {
  text-decoration: underline;
}
.content {
  padding-left: 10px;
  padding-top: 10px;
}

.updates {
  position: absolute;
  bottom: 0;
  right: 0;
}
.vote:hover{
  cursor: pointer;
  text-decoration: underline;
}
.voting {
  text-align: center;
  font-family: cursive;

}
.vote {
  margin-bottom: 0;
}

button {
  background-color: $schemecolor1;
  border: outset 2px $schemecolor1;
  border-radius: 2px;
  color: black;
}

button:active {
  background-color: lighten($schemecolor1,4%);
}

.top-bar {
  background-color: lighten($schemecolor1,25%);
  .nav-text {
    color: white;
  }
  border: outset 2px lighten($schemecolor1,25%);
}

.admin-login-form {
  position: relative;
  padding: 15px;
  border: inset 5px $schemecolor5;
  background-color: $schemecolor5;
  min-height: 500px;
  border-bottom: inset 5px darken($schemecolor5, 5%);
  border-right: inset 5px darken($schemecolor5, 5%);
}


.date {
  text-indent: 1em;
  font-size: .8em;
  font-style: italic;
}

.answered-text {
  padding-top: 10px;
  font-weight: bolder;
}
