<div class= "container">
  <header class= "jumbotron">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          {{#link-to 'index' class="navbar-brand"}}Questions about...everything{{/link-to}}
        </div>
      </div>
    </nav>
  </header>
  {{outlet}}
  <hr>
</div>
