
<div class="lists scrollable">
  {{#each model as |question|}}
    {{#link-to 'question' question.id}}
      {{question-tile question=question}}
    {{/link-to}}
  {{/each}}
  {{new-question saveQuestion='saveQuestion'}}
</div>
